body {
  margin: 0;
  padding: 0;
  max-width: 450px;
  min-width: 450px;
  width: 450px;
  padding: 0.5rem;
  overflow-y: scroll;
  bottom: 5px;
  right: 5px;
  background: #f8f8f8;
  color: #4d5c64;
}

.violation {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.violation-details {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

.violation-details li {
  margin-bottom: 5px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

button, #downloadLink {
  flex: 1;
  font-size: 16px;
  margin: 5px;
  padding: 1rem 1.3rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #343541;
  color: #fff;
  text-decoration: none;
}

button:hover, #downloadLink:hover {
  box-shadow: 0 0 0.5rem #545567;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: black;
  background-color: red;
  font: bold 24px/1.5 sans-serif;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
}



#toggle-results-div {
  width: 80%;
  margin: auto;
  display: block;
}

.subtitle {
  border: 1px solid;
  padding: 0.45rem;
  background: lightblue;
  font-size: 13.2px;
  text-align: center;
  border-radius: 3px;
}